
.font{
   
        font-family: "A Goblin Appears!";
        font-size: 30px;
        color:beige;
}

h1{
        font-size: 15px;
}
.pad{
        padding-top: 15px;
}

html, body {
        margin: 0;
        height: 75ch;
        text-align: center;
        padding-top: 10%;
        background-color: black;
        
}